
@charset "utf-8";
/* CSS Document */

html, body {
  height:100%;
  witdh:100%;
}

h1, p{
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

h3 { 
   position: absolute; 
   top: 50%; 

   width: 50%; 
   font-family: 'Open Sans', sans-serif;
}

#container_1{
  margin: 5%;
  margin-top: 20vh;
}

body {
  padding-top:7%;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  width: 100%;
}

.navbar.center .navbar-inner{
  text-align:center;
  height: 20vh;
  margin: 0;
}

.navbar.center .navbar-inner .nav{
  display:inline-block;
  float: none;
  height: 20vh;
  margin: 0;
}

#right
{
  float:right;
  margin: 1%
}
#left
{
  float:left;
  margin-top:2%; 
}

div.img1 {
    float: left;
    width:50vw;
    height: 20vh;
    background-color: #32acaf;
}
div.img2 {
    float: right;
    width:50vw;
    height: 20vh;
    background-color: #e36790;
}

#logo{
  height: 10vh;
}

#splashscreen {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    height:100vh;
    /*background: linear-gradient(90deg, #32acaf 50%, #e36790 50%);*/
    background:#b8d7d7;
}

#innersplash{
  text-align:center;
  height:100vh;
  margin-top:20vh;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
