@charset "utf-8";
/* CSS Document */


h1, p{
  color: #333;
}

#container_1{
  margin: 5%;
}

body {
  padding-top:7%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
}

.navbar.center .navbar-inner{
  text-align:center;
}

.navbar.center .navbar-inner .nav{
  display:inline-block;
  float: none;
}

#right
{
  float:right;
  margin: 1%
}
#left
{
  float:left;
  margin-top:2%;
  
}

