
@charset "utf-8";
/* CSS Document */


h1, p{
  color: #333;
}

h3 { 
   position: absolute; 
   top: 50%; 

   width: 50%; 
   font-family: 'PT Sans', sans-serif;
}

#container_1{
<<<<<<< HEAD
  margin-top:20vh;
=======
  margin: 5%;
  margin-top: 20vh;
>>>>>>> master
}

body {
  padding-top:7%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
}

.navbar.center .navbar-inner{
  text-align:center;
  height: 20vh;
  margin: 0;
}

.navbar.center .navbar-inner .nav{
  display:inline-block;
  float: none;
  height: 20vh;
  margin: 0;
}

#right
{
  float:right;
  margin: 1%
}
#left
{
  float:left;
  margin-top:2%; 
}

div.img1 {
    float: left;
    width:50vw;
    height: 20vh;
    background-color: #32acaf;

}
div.img2 {
    float: right;
    width:50vw;
    height: 20vh;
    background-color: #e36790;

}
